<div id="content-list">
    <div class="wrap">
        <div class="inner">
            <h2 class="title">Onze kernwaarden</h2>
            <div class="inner-list">
                <ul class="blocks-cont">
                    <li class="block">
                        <h3 class="block-title icon-tick">Kwaliteit</h3>
                        <p>Wij beoordelen schades objectief en leveren daarbij een uitgebreid (online) dossier op. Hierdoor willen we voldoen aan de verwachtingen van onze opdrachtgevers. Beter gesteld: we willen de verwachtingen overtreffen!</p>
                    </li>
                    <li class="block">
                        <h3 class="block-title icon-tick">Innovatief</h3>
                        <p>Wij zijn een innovatief bureau en werken volledig digitaal. Door gebruik te maken van de hedendaagse technologieën kan 3.0 Expertise snel werken en kunnen wij nog meer tijd besteden aan de inhoud van het expertisevak, waarbij de klant altijd centraal staat.</p>
                    </li>
                    <li class="block">
                        <h3 class="block-title icon-tick">Efficiënt</h3>
                        <p>Bij veel bureaus wordt nog gewerkt met papieren dossiers. De afhandeling en doorlooptijd van schade-opdrachten duurt hierdoor vaak langer dan gewenst en de status is niet altijd up-to-date. 3.0 Expertise heeft hiervoor een digitale oplossing. Wij hebben een portaal ontwikkeld, waarbij u 24/7 online toegang heeft tot uw actuele dossierinformatie. </p>
                    </li>
                    <li class="block">
                        <h3 class="block-title icon-tick">Betrouwbaar</h3>
                        <p>Een schade kan een behoorlijke impact hebben op de klanten van onze opdrachtgevers. 3.0 Expertise fungeert als betrouwbare schakel binnen uw bedrijf. Wij zijn transparant: `What you see is what you get!’.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>