<div class="social-share">
    <p class="label">Bericht delen</p>
    <p class="items">
        <a rel="nofollow" target="_blank" data-event-category="social media links" data-event-action="clicked" data-event-label="facebook share button" class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={$FULLURL}?utm_source%3Dfacebook%26utm_medium%3Dsocial%26utm_campaign%3Dwebsite-share-buttons"></a>
        <a rel="nofollow" target="_blank" data-event-category="social media links" data-event-action="clicked" data-event-label="twitter share button" class="icon-twitter" href="https://twitter.com/intent/tweet?url={$FULLURL}?utm_source%3Dtwitter%26utm_medium%3Dsocial%26utm_campaign%3Dwebsite-share-buttons&amp;text={$header->getTitle()}"></a>
        <a rel="nofollow" target="_blank" data-event-category="social media links" data-event-action="clicked" data-event-label="e-mail share button" class="icon-mail" href="whatsapp://send?text={$FULLURL}?utm_source%3Dwhatsapp%26utm_medium%3Dsocial%26utm_campaign%3Dwebsite-share-buttons"></a>
        <a rel="nofollow" target="_blank" data-event-category="social media links" data-event-action="clicked" data-event-label="whatsapp share button" class="icon-whatsapp" href="whatsapp://send?text={$FULLURL}?utm_source%3Dwhatsapp%26utm_medium%3Dsocial%26utm_campaign%3Dwebsite-share-buttons"></a>
    </p>
</div>