<footer id="bottom">
    <div class="wrap">
    	<div class="col">
    		<div class="logo-wrap">
	            <a href="Home.html">
	                <img src="/templates/img/logo-white.png" alt="" class="img footer-img">
	            </a>
        </div>
    	</div>
    	<div class="col">
    		<div class="inner">
    			<h2 class="title">3.0 Expertise B.V.</h2>
    			<ul>
    				<li>Postbus 54</li>
    				<li>3454 ZH De Meern</li>
    				<li>T: +31 (0)88 2223761</li>
    				<li>E: info@3.0expertise.nl</li>
    			</ul>
    		</div>
    		<div class="inner">
    			<h2 class="title">Diensten</h2>
    			<ul>
    				<li><a href="/">Schadevaststelling</a></li>
    				<li><a href="/">Mediation</a></li>
    				<li><a href="/">Taxaties</a></li>
    				<li><a href="/">Contra-expertise</a></li>
    				<li><a href="/">Geschilbemiddeling</a></li>
    				<li><a href="/">Schadebeperking</a></li>
    				<li><a href="/">Professionele ondersteuning</a></li>
    			</ul>
    		</div>
    	</div>
    	<hr class="clear">
    </div>
</footer>