<nav id="menu-main">
    <div class="wrap flex-between">
        <div class="logo-wrap">
            <a href="Home.html">
                <img src="/templates/img/logo.svg" alt="" class="img">
                <img src="/templates/img/logo-white.png" alt="" class="img state-hidden">
            </a>
        </div>
        <div id="trigger-menu-main">
            <div class="login">
                <a href="/">
                    <img src="/templates/img/login.png" alt="">
                </a>
            </div>
            <button class="bars-cont">
                <span class="icon-bar"></span>
            </button>
        </div>
        <ul class="nav">
            <li class="el"><a href="#" class="link state-secondary">Over ons</a></li>
            <li class="el"><a href="#" class="link state-secondary">Diensten</a></li>
            <li class="el"><a href="News-overview.html" class="link state-secondary">Nieuws</a></li>
            <li class="el"><a href="#" class="link state-secondary">Contact</a></li>
        </ul>
         <button type="button" class="btn state-primary"><span class="btn-animate">Inloggen</span></button>  
    </div>
</nav>