<div id="logo-slider">
    <div class="wrap">
        <h2 class="title">Opdrachtgever</h2>
        <div class="flexslider">
            <ul class="slides">
                <li>
                    <img src="/templates/img/white-rectangle.png" />
                </li>
                <li>
                    <img src="/templates/img/white-rectangle.png" />
                </li>
                <li>
                    <img src="/templates/img/white-rectangle.png" />
                </li>
                <li>
                    <img src="/templates/img/white-rectangle.png" />
                </li>
                <li>
                    <img src="/templates/img/white-rectangle.png" />
                </li>
                <li>
                    <img src="/templates/img/white-rectangle.png" />
                </li>
                <li>
                    <img src="/templates/img/white-rectangle.png" />
                </li>
                <li>
                    <img src="/templates/img/white-rectangle.png" />
                </li>
            </ul>
        </div>
     </div>
</div>

