<div id="article-content">
	<p class="caption">
		Intro Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Nihilne te nocturnum praesidium Palati, nihil urbis vigiliae. Ambitioni dedisse scripsisse iudicaretur. Paullum deliquit, ponderibus modulisque suis ratio utitur.
	</p>
	<p>
		In het afgelopen decennium zijn vanwege allerlei ontwikkelingen, waaronder een krimpende markt, de expertisekosten onder druk komen te staan. Vaak gaat dit ten koste van de kwaliteit. 3.0 Expertise is in 2013 opgericht vanuit de gedachte, dat met innovatieve oplossingen, waarbij automatisering en digitalisering een grote rol spelen, de klantgerichtheid en de kwaliteit wel degelijk gewaarborgd kunnen worden. 
	</p>
	<p>
		3.0 Expertise is een expertisebureau van deze tijd. Wij werken volledig digitaal via het portaal “Expertise Online”. Hierdoor kunnen wij sneller en efficiënter werken. Onze experts hebben jarenlange ervaring in de expertisebranche en zijn gespecialiseerd in de schade-afwikkeling in de ruimste zin van het woord bij particulieren en het midden- en kleinbedrijf. 3.0 Expertise is uw expertisepartner voor heel Nederland.
	</p>
	<p>
		Al onze experts zijn NIVRE Register-Experts of in opleiding hiervoor. Een expert, die is aangesloten bij het NIVRE voldoet aan de hoge eisen, die de hedendaagse markt van hen vraagt met betrekking tot onder meer vakmanschap, communicatieve vaardigheden en integriteit. Voor meer informatie hierover bekijk de <span><a href="/">NiVRE Expertisefolder</a></span>.
	</p>
	<p>
		3.0 Expertise stelt haar opdrachtgevers en klanten centraal. Door onze innovatieve wijze van werken en onze persoonlijke aandacht zijn wij een belangrijke schakel in uw schadeproces. 3.0 Expertise levert daadwerkelijk een toegevoegde waarde en gaat graag de uitdaging aan om uw verwachtingen te overtreffen.
	</p>
</div>