<div id="floating-banner">
    <picture class="flex-img hidden-mobile">
        <source media="(min-width: 1500px)" srcset="/templates/img/usp-main-img.png" />
        <source media="(min-width: 751px)" srcset="/templates/img/usp-main-img.png" />
        <source media="(max-width: 750px)" srcset="/templates/img/usp-main-img.png" />
        <img src="/templates/img/usp-main-img.png" alt="">
    </picture>
    <div class="wrap">
        <div class="center-content">
            <div class="center-content-inner">
                <div class="center-content-text">
                    <h2 class="title">Waarom 3.o Expertise?</h2>
                    <ul>
                        <li>- Landelijke dekking</li>
                        <li>- Korte communicatielijnen</li>
                        <li>- Kwalitatieve en snelle afwikkeling</li>
                        <li>- 24/7 toegang tot uw online dossier</li>
                        <li>- Goede prijs-/kwaliteitsverhouding</li>
                        <li>- Betrouwbaar</li>
                        <li>- Transparant</li>
                        <li>- Klantgericht</li>
                    </ul>
                </div>
                <picture class="flex-img">
                    <source media="(min-width: 1500px)" srcset="/templates/img/usp-block.svg" />
                    <source media="(min-width: 751px)" srcset="/templates/img/usp-block.svg" />
                    <source media="(max-width: 750px)" srcset="/templates/img/usp-block.svg" />
                    <img src="/templates/img/usp-block.svg" alt="">
                </picture>
            </div>
        </div>
    </div>
</div>