<script src="/templates/js/common-form-elements.js"></script>

<!-- <script src="/../form-field-suggestions/js/form-field-suggestions.js"></script>
<script src="/../search-suggestions/js/search-suggestions.js"></script> -->


<script src="/templates/components/flex-vid/js/assets/jquery.fitvids.js"></script>
<!-- <script src="/templates/components/flex-vid/js/flex-vid.js"></script> -->
<script src="/templates/components/flex-vid/js/flex-vid-advanced.js"></script>

<script src="/templates/components/logo-slider/js/assets/jquery.flexslider.js"></script>
<script src="/templates/components/logo-slider/js/logo-slider.js"></script>

<script src="/templates/components/menu-main/js/menu-main.js"></script>